{% csrf_token %}
{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
// DONE DJANGO HACK


function get_user_id(){
    var href = $(location).attr("href");
    var vals = href.split('/');
    return  vals[vals.length - 2];
}

function get_site_prefix(){
    var href = $(location).attr("href");
    var vals = href.split('/');
    var prefix = "/";
    if (vals[3] == vals[vals.length-4]){
        prefix = prefix + vals[3] + "/";
    }
    return prefix
}

function makeid()
{
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 8; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
}

function getsurvey(degree,gender,os,browser,task_id){
	
	var prefix = get_site_prefix();
    var user_id = get_user_id();
    
    $.ajax({
        type: "POST",
        url: prefix + "getsurvey/", 
        data: { 
        user_id: user_id, 
        mid:$('.mid').val(),
        name:$('.name').val(),
        age:$('.age').val(),
        country:$('.country').val(),
        language:$('.language').val(),
        major:$('.major').val(),
        experience:$('.designexp').val(),
        gender:gender,
        os:os,
        browser:browser,
        degree:degree,
        task_id:task_id,
        evaluation:$('.advice').val(),
    }});
}


$(function () {
var csrftoken = getCookie('csrftoken');
  
  
  
  $(".mid").mouseover(function(){

        $(".hint").show();
    }).mouseout(function() {
        $(".hint").hide();
    });
  
  
  $('.submit').click(function(event){
    var gender='';
    var degree=$("#selection").val();
    console.log(degree);
    if($('.male').is(':checked')&& $('.male').val()=='male'){ gender='male';}
    if($('.female').is(':checked')&& $('.female').val()=='female'){gender='female';}
    if($('.other').is(':checked')&& $('.other').val()=='other'){gender='other';}
    
   
    
    var interface_id={{user.interface_id}};
    var task={{user.task}};
    var user_id={{user.id}};
    var task_id=makeid();
     getsurvey(degree,gender,os,browser,task_id);
    console.log(task_id);
    if($('.mid').val()==""){
	  alert('Please fill in your Worker ID first !');
  }
    else{
    alert('Submit succeed!\n-----------------------\n Please copy this Task Code to the Mturk to complete!\n ---------------------\n Task Code: '+task_id);
    $('.already').html('<p> You have submitted the task.     Your Task Code is: '+task_id+'</p>');
    }
  });
  
  
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // END DJANGO AJAX



 
    var BrowserDetect = {
      init: function () {
        this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
        this.version = this.searchVersion(navigator.userAgent) || this.searchVersion(navigator.appVersion) || "an unknown version";
        this.OS = this.searchString(this.dataOS) || "an unknown OS";
      },
      searchString: function (data) {
        for (var i = 0; i < data.length; i++) {
          var dataString = data[i].string;
          var dataProp = data[i].prop;
          this.versionSearchString = data[i].versionSearch || data[i].identity;
          if (dataString) {
            if (dataString.indexOf(data[i].subString) != -1) return data[i].identity;
          } else if (dataProp) return data[i].identity;
        }
      },
      searchVersion: function (dataString) {
        var index = dataString.indexOf(this.versionSearchString);
        if (index == -1) return;
        return parseFloat(dataString.substring(index + this.versionSearchString.length + 1));
      },
      dataBrowser: [{
        string: navigator.userAgent,
        subString: "Chrome",
        identity: "Chrome"
      }, {
        string: navigator.userAgent,
        subString: "OmniWeb",
        versionSearch: "OmniWeb/",
        identity: "OmniWeb"
      }, {
        string: navigator.vendor,
        subString: "Apple",
        identity: "Safari",
        versionSearch: "Version"
      }, {
        prop: window.opera,
        identity: "Opera"
      }, {
        string: navigator.vendor,
        subString: "iCab",
        identity: "iCab"
      }, {
        string: navigator.vendor,
        subString: "KDE",
        identity: "Konqueror"
      }, {
        string: navigator.userAgent,
        subString: "Firefox",
        identity: "Firefox"
      }, {
        string: navigator.vendor,
        subString: "Camino",
        identity: "Camino"
      }, { // for newer Netscapes (6+)
        string: navigator.userAgent,
        subString: "Netscape",
        identity: "Netscape"
      }, {
        string: navigator.userAgent,
        subString: "MSIE",
        identity: "IE",
        versionSearch: "MSIE"
      }, {
        string: navigator.userAgent,
        subString: "Gecko",
        identity: "Mozilla",
        versionSearch: "rv"
      }, { // for older Netscapes (4-)
        string: navigator.userAgent,
        subString: "Mozilla",
        identity: "Netscape",
        versionSearch: "Mozilla"
      }],
      dataOS: [{
        string: navigator.platform,
        subString: "Win",
        identity: "Windows"
      }, {
        string: navigator.platform,
        subString: "Mac",
        identity: "Mac"
      }, {
        string: navigator.userAgent,
        subString: "iPhone",
        identity: "iPhone/iPod"
      }, {
        string: navigator.platform,
        subString: "Linux",
        identity: "Linux"
      }]
 
    };
 
    BrowserDetect.init();
 
    window.$.client = {
      OS: BrowserDetect.OS,
      Browser: BrowserDetect.browser,
      Version: BrowserDetect.version
    };
    var os=$.client.OS;
    var browser=$.client.Browser;
    console.log(os);
    console.log(browser);
    
     });


 




</script>

<html>
 <head>
   <title>Survey</title>
 </head>
 <body style="font-family:Cambria;background-color:white">  
   <h1 style="color:blue;font-family:Cambria"><em>Survey</em> </h1>
  
   <p>
    Your Worker ID <b> (required)</b><input type="text" class='mid'>         
       <span class='hint' style="display:none;">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <i>(To find your Worker ID, please click 'Your Account'-->'Dashboard'. You will find your worker id right beside your name!)</i></span> 
   </p>
   <p>
    Name <b>(optional)</b><input type="text" class='name'>
    <span style="text-align:right">Age <b>(optional)</b> <input type="text" class='age'></span>
  </p>
  <p>
    <span style="color:black">1. </span><span style="color:red">Your gender</span>
    
    <br>
    <input type="radio" class='male' value="male">Male 
   
    <input type="radio" class='female' value="female">Female
     <input type="radio" class='other' value="other">Other
  </p>
  <p>
    <span style="color:black">2. </span><span style="color:red">Home country:</span>
    <input type="text" class='country'>
  </p>
  <p>
    <span style="color:black">3. </span><span style="color:red">Primary Language:</span>
    <input type="text" class='language'>
  </p>
   <p>
    <span style="color:black">4. </span><span style="color:red">Degree:</span>
    <select id='selection'>
    <option value="undergraduate">Undergraduate</option>
  <option value="graduate">Graduate</option>
  <option value="phd">Phd</option>
  <option value="other">Other</option>
</select>
  </p>
   <p>
    <span style="color:black">5. </span><span style="color:red">Major/Focus:</span>
    <input type="text" class='major'>
  </p>
  
  <p>
    <span style="color:black">6. </span><span style="color:red">Do you have any suggestions to our tool?</span>
    <br>
    <textarea name="textarea" class='advice' style="width:250px;height:150px;"></textarea>
  </p>
  
    <p>
    <span style="color:black">7. </span><span style="color:red">Describe your past design experience:</span>
    <br>
    <textarea name="textarea" class='designexp' style="width:250px;height:150px;"></textarea>
    <br>
    </p>
    
   <p class='already'>
     Thanks For Your Time
     <br>
     <input type="submit" class='submit' style="font-size:30px;">
     <br>
     (You're Welcome)
   </p>
   


 </body>
</html>