{% csrf_token %}
{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

 <h style="font-size:30px;"> Design a mobile application for students to manage their time. </h>
 </br>
 <p>There will be a calendar to select the date that someone wants to add tasks to.</p>
 <p>Below the calendar there will be a checkbox list of all tasks that need to be done that day</p>
 <p>There will also be 2 buttons below for Adding or deleting tasks.</p>
 <p>Removing all checked will set all completed tasks as "Disabled" so you can still see what you have completed.</p>
 