{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="{% static 'protoauthor/jquery.imgareaselect.min.js'%}"></script>
<script src="{% static 'protoauthor/jquery.imgareaselect.pack.js'%}"></script>
<script src="{% static 'protoauthor/jquery.imgareaselect.js'%}"></script>
<script src="{% static 'protoauthor/draggable.js'%}"></script>
<script src="{% static 'protoauthor/colpick.js'%}"></script>
<script type="text/javascript" src="http://www.javascripttoolbox.com/libsource.php/contextmenu/source/jquery.contextmenu.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'protoauthor/style.css' %}">
<script type="text/javascript" src="http://jqueryrotate.googlecode.com/svn/trunk/jQueryRotate.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


<div id="nav" style="background-color:#93db86; height:50px;">
    <a href="{% url 'index' %}" style="color:#373737">Back</a>
	<span style="position:relative; left:35%; margin:auto;font-size:38px;font-family:Verdana;color:white"> Prototype Factory </span>
	
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
  
</div>
<div id="palette" style="background: rgba(147, 219, 134, 0.2);">

 

    <div class="draggable-widget" id="arrow-w" >
        <div class="widget-content arrow">
		  
            <img class="full-sized" style="width:90%;height：90%" src="http://i.imgur.com/RxOTh5a.png">
        </div>	
    </div>

    <!--
    <div class="draggable-widget">
        <div class="widget-content">
            <img class="full-sized" src="http://pb-i4.s3.amazonaws.com/photos/365451-1405880918-4.jpg">
        </div>
    </div>
    -->
	
	  <div class="draggable-widget" id="textlabel-w">
        <div class="widget-content table changefont">
            <div class="vcenter hcenter full-sized backcolor ">
                <div class="text-oneline fontsize" style="font-size:20px" >Text Label</div>
            </div>
        </div>
    </div>

    <div class="draggable-widget" id="inputbox-w">
        <div class="widget-content changefont">
            <div class="full-sized input-box-background table backcolor">
                <div class="full-sized vcenter hcenter">
                    <div class="text-newline fontsize" style="font-size:20px" >Input box</div>
                </div>
            </div>
        </div>
    </div>

    <div class="draggable-widget" id="button-w">
        <div class="widget-content changefont">
            <div class="white-background full-sized">
                <div class="full-sized button-background table backcolor">
                    <div class="vcenter hcenter full-sized">
                        <div class="text-oneline fontsize" >Button</div>
                    </div>
                </div>
            </div>
        </div>
    </div>	

    <div class="draggable-widget" id="droplist-w">
        <div class="widget-content changefont">
            <div class="white-background full-sized">
                <div class="droplist-background backcolor">
                    <div class="droplist-left table">
                        <div class="vcenter hcenter full-sized">
                            <div class="text-oneline fontsize" >Drop List</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="draggable-widget" id="list-w">
        <div class="widget-content changefont backcolor">
            <ul class="edit-list fontsize"><li>List</li></ul>
        </div>
    </div>
    
	<div class="draggable-widget"  style="width:50px;" >
        <div class="widget-content check" >
            <div class="check-background full-sized backcolor"></div>
        </div>
    </div>
	
	<div class="draggable-widget" style="width:50px;" >
        <div class="widget-content check" >
            <div class="check1-background full-sized backcolor"></div>
        </div>
    </div>
	
    <div class="draggable-widget" id="iphone-w" style="width:40px;" >
        <div class="widget-content iphone" id="iphone">
            <div class="iphone-background full-sized backcolor"></div>
        </div>
    </div>	
	

	
	
    <div class="draggable-widget" id="addmyown">
       <div class="widget-content crop">
            <img class="widget" id="addown" src="http://i.imgur.com/aMOPVwK.png" >
      </div>
    </div>	
    
    <div class="description" id="addownex"> Drag it down on the canvas and double-click to change the picture</div>
    <div class="description" id="iphonex"> This is an iphone layout</div>
	<div class="description" id="listx"> Double-click to edit(The dot will be automatically added to a new line) </div>
	<div class="description" id="droplistx"> This is a droplist. Double-click to edit </div>
	<div class="description" id="buttonx"> This is a button. Double-click to edit </div>
	<div class="description" id="inputboxx"> This is a inputbox. Double-click to edit </div>
	<div class="description" id="arrowx"> This is a arrow. Right-click to change to direction </div>
	<div class="description" id="textlabelx"> This is a textlabel. Double-click to edit </div>
	<button id="picker"></button>
    <!-- NOT CONFIGURED CORRECTLY -->

    <!--
    <div class="draggable-widget" >
        <div class="widget" style=" width:100%; height:100%; background-image:url('http://i.imgur.com/CJfQxn0.png');background-repeat:no-repeat;background-size:100% 100%;">
            <div class="widget" style="width:66%; position:relative; left:20%;">
                <span class="text"  style="font-size:30px;">List</span>
            </div>
        </div>
    </div>

    <div class="draggable-widget" >
        <div class="widget" style=" width:100%; height:100%; background-image:url('http://i.imgur.com/Q4Hekl6.png');background-repeat:no-repeat;background-size:100% 100%;">
            <div class="widget" style="width:66%; position:relative; left:20%;">
                <span class="text"  style="font-size:30px;">List</span>
            </div>
        </div>
    </div>

    <div class="draggable-widget" >
        <div class="widget" style=" width:100%; height:100%; background-image:url('http://i.imgur.com/iUfQb8o.png');background-repeat:no-repeat;background-size:100% 100%;">
            <div class="widget" style="width:66%; position:relative; left:30%;">
                <span class="text"  style="font-size:30px;">Check</span>
            </div>
        </div>
    </div>

    <div class="draggable-widget" >
        <div class="widget" style=" width:100%; height:100%; background-image:url('http://i.imgur.com/S2kDQ6d.png');background-repeat:no-repeat;background-size:100% 100%;">
            <div class="widget" style="width:66%; position:relative; left:30%;">
                <span class="text"  style="font-size:30px;">Check</span>
            </div>
        </div>
    </div>

    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405909782-1.jpg"></div>	
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405879878-0.jpg"></div>	
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405879878-3.jpg"></div>	
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405880918-2.jpg"></div>		
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405910012-0.jpg"></div>		
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405910012-1.jpg"></div>
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405910012-3.jpg"></div>
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405910012-4.jpg"></div>
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405909782-3.jpg"></div>
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405909782-4.jpg"></div>
    <div class="draggable-widget"><img class="widget" id="picture"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405880918-3.jpg"></div>	
    <div class="draggable-widget" id="addmyown"><img class="widget" id="addown"
        src="http://pb-i4.s3.amazonaws.com/photos/365451-1405864976-0.jpg"></div>	

    -->
</div>	

<div id="trash">
</div>

<div id="dialog" title="User define"></div>

<div class="clear"></div>

<div id="canvas" class="ui-widget-content">
    {% for widget in widgets %}
    <div class="existing-widget draggable-widget" widget-id="{{widget.pk }}" style="position: absolute; left:{{ widget.left }}; top:{{ widget.top }}; width:{{widget.width}}; height:{{widget.height}}">
        {{ widget.value|safe }}
    </div>
    {% endfor %}

</div>

