html {
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
}

.draggable-widget {
    float: left;
}

.table{
    display: table;
    height: 100%;
    position: relative;
}

.vcenter{
    display: table-cell; 
    vertical-align: middle;
}

.text{
min-height:10px;
}
.hcenter{
    text-align: center;
}

.full-sized{
    width: 100%;
    height: 100%;
}

.clear{
    clear: both;
}

#nav{
    width: 100%;
    height: 5%;
    clear: both;
    background-color: #efefef;
}

.list-background{
    width: 100%; 
    height: 100%; 
    background-image: url('http://i.imgur.com/CJfQxn0.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
}

#palette{
    width:95%;
    height:90px;
    float:left;
    background-color:grey;
    display:inline;
    background-color: white;
}

#canvas {
    position:relative;
    width: 100%;
    //top: 0%;
    min-height: 80%;
    //background-color:transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1)26%, transparent 27%, transparent 74%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1)76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1)26%, transparent 27%, transparent 74%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1) 76%, transparent 77%, transparent);
    background-size:50px 50px;
    border-style:solid;
    border-color: black;
    border-top-width: 5px;

}

.description{
    display:none;
    position:relative;
	left:1000px;
    top:-30px;
    width:200px;
    height:100px;
	font-size:18px;
	color:#6495ED;
	opacity:0.9;
   
}



.white-background{
    background-color: white;
}

#trash{
    float: right;
    width: 70px;
    height: 70px;
    overflow: none;
    z-index:1;
    background-image: url('http://2.bp.blogspot.com/_EDGT2Qfb0Q4/RnxCiO6PVGI/AAAAAAAAAAc/5LEXbhXW0rU/s320/trashfull.png');
    background-repeat: no-repeat;
    background-position:center; 
    background-size:100% 100%;
    background-color:transparent;
}

#trash img{
    margin: auto;
    height: 100px;
    width: 100px;
}

.ui-widget-content{
    background:0;
}

.input-box-background{
    background-image: url('http://pb-i4.s3.amazonaws.com/photos/365451-1405974166-0.jpg');
    background-repeat: no-repeat;
    background-position:center; 
    background-size:100% 100%;
    background-color:transparent;
	
}

.edit-list{
    margin: 0;
}

.widget-content{
    width: 100%;
    height: 100%;
}

.handle{
  
   width:10%;
   height:10%;
   opacity:1;
 }
 
.handle:hover{
  background-color:green;
  width:10%;
  height:10%;
}

.center-text{
    text-align: center;
    width: 100%;
    height: 100%;
}

.draggable-widget{
    width: 125px;
    padding: 5px;
    height: 75px;
	
    cursor: move;
    font-family:sans-serif;
    overflow: hidden;
}

.widget{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: table;
    text-align: center;
    margin-top:auto;
}

.iphone-background{
    background-image: url('http://i.imgur.com/pUkhZyQ.png');
    background-repeat: no-repeat;
    background-position:center; 
    background-size:100% 100%;
}

.button-background{
    background-image: url('http://i.imgur.com/qJli7Rf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
}

.droplist-background{
    width: 100%; 
    height: 100%; 
    background-image: url('http://i.imgur.com/Fpd4IHq.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin: 0px;
    padding: 0px;
}

.droplist-left {
    width: 66%;
    height: 100%;
    position: relative; 
    background-image: url('http://i.imgur.com/E0fDspS.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.selected{
    border :dotted 3px red ;
}

#addown{
  z-index:100;
  position:center;
  
}

#text{
    z-index:100;
    display:block;
    font-size:inherit;
}


input {
    width: 95%;
    height: 95%;
}

/*Context menu css */
.iw-contextMenu {
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border:1px solid #E6E6E6;
	display:none;
	z-index:1000;
	overflow:auto;
}
.iw-cm-menu{
	background:#F4F4F4;
	color:#333;
	margin:0px;
	padding:0px;
	}

.iw-cm-menu li {
	list-style:none;
	padding:3px;
	padding-left:30px;
	padding-right:20px;
	border-bottom:1px solid #CCC;
	cursor:pointer;
	position:relative;
}
.iw-mOverlay{
	position:absolute; width:100%; height:100%; top:0px; left:0px;
	background:#FFF;
	opacity:.5;
	}
.iw-contextMenu li.iw-mDisable {
	opacity:.3;
}
.iw-mSelected {
	background-color:rgb(0,51,102);
	color:#F2F2F2;
}
.iw-cm-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-left:5px solid #333333; 
	position:absolute;
	right:3px;
	top:50%;
	margin-top:-3px;
}

.iw-mIcon{
	width:20px;
	height:20px;
	left:0px;
	top:3px;
	position:absolute;
	}
	
/*context menu css end */
#contextmenu{
	margin:4px;
	padding:3px;
	border: 3px solid #000;
	background:#ccc;
	z-index:1000;
}
#contextmenu li {
    list-style-type:none;
    margin:1px;
    padding:2px;
    cursor:pointer;
}
#contextmenu li.hover{
    background: #ddd;
}

/*
 * imgAreaSelect animated border style
 */

.imgareaselect-border1 {
	background: url(border-anim-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-anim-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-anim-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-anim-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-selection {
}

/*
 * imgAreaSelect default style
 */

.imgareaselect-border1 {
	background: url(border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-selection {  
}

/*
 * imgAreaSelect style to be used with deprecated options
 */

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-border1 {
	border: solid 1px #000;
}

.imgareaselect-border2 {
	border: dashed 1px #fff;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.imgareaselect-selection {
	background-color: #fff;
    filter: alpha(opacity=0);
	opacity: 0;
}

